@model IEnumerable<course.Models.Client>

@{
    ViewData["Title"] = "Управление клиентами";
}
@{ 
    Layout = "_AdminLayout";
}
<h3 style="text-align:center">Все клиенты</h3>

<table class="table table-borderless table-hover" style="border-bottom:none;border-right:none;">
    <thead>
        <tr>
            <th>
                Параметры тела
            </th>
            <th>
                Имя клиента
            </th>
            <th>
                Номер клиента
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BodyParameters)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td style="border:none;">
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.UserGuid">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
