@model IndividualOrder
@{
    ViewData["Title"] = "Individual";
}

@{
    Layout = "_ClientsLayout";
}

<h3 class="text-center">Пожалуйста, опишите Ваш индивидульных заказ</h3>

<form asp-action="Individual" method="post" class="text-center">
    <textarea name="order" rows="6" cols="60"></textarea>
    <br />
    <br />
    <input type="submit" value="Отправить" class="btn btn-primary" />
</form>
