
@{
    ViewData["Title"] = "Menu";
}

<h1 style="text-align:center;">Добро пожаловать в меню клиента</h1>
<p>
    <ul style="list-style:none">
        <li>
            <a asp-action="Create">Сделать заказ</a>
        </li>
        <li>
            <a asp-action="Information">Посмотреть свои заказы</a>
        </li>
        <li>
            <a asp-action="individual">Сделать индивидуальный заказ</a>
        </li>
        <li>
            <a asp-action="individualinfo">Посмотреть свои индивидуальные заказы</a>
        </li>
        <li>
            <a asp-action="Comment">Оставить отзыв о нашем ателье</a>
        </li>
    </ul>
</p>