@model course.Models.Commentary
@{
    ViewData["Title"] = "Ателье \"Ножницы\"";
}

@{
    Layout = "_MainLayout";
}



<h2 style="text-align:center;">Ателье "Ножницы"</h2>
<div class="container">
    @if (Model.Comment != null)
    {
        <p>
            Случайный отзыв о нашей компании:
            <br />
        <p>
            @Html.DisplayFor(itemView => Model.Comment)
        </p>
        </p>
    }   
</div>