
@{
    ViewData["Title"] = "Menu";
}


<ul style="list-style:none">
    <li>
        <a asp-action="information">Просмотреть взятые заказы</a>
    </li>
    <li>
        <a asp-action="AddOrder">Взять новый заказ</a>
    </li>
    <li>
        <a asp-action="AddIndividual">Взять индивидуальный заказ</a>
    </li>
    <li>
        <a asp-action="IndividualInfo">Просмотреть взятые индивидуальные заказы</a>
    </li>
</ul>
